/* # Front-end Style Guide
## Layout

### The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary
- Dark Blue: hsl(233, 26%, 24%)
- Lime Green: hsl(136, 65%, 51%)
- Bright Cyan: hsl(192, 70%, 51%)

### Neutral
- Grayish Blue: hsl(233, 8%, 62%)
- Light Grayish Blue: hsl(220, 16%, 96%)
- Very Light Gray: hsl(0, 0%, 98%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size: 18px

### Font

- Family: [Public Sans](https://fonts.google.com/specimen/Public+Sans)
- Weights: 300, 400, 700
*/

/* CONTENTS */
/* 1. Global Styles */
/* 2. Navbar */
/* 3. Hero */
/* 4. Benefits */
/* 5. Articles */
/* 6. Footer */
/* Responsive */



/********** GLOBAL STYLES **********/
body {
    margin: 0;
    font-family: 'Public Sans', sans-serif;
    font-size: 17px;
    color: #A0A0A0;
}

.wrapper {
    overflow-x: hidden;
    position: relative;
}

h1, h2, h3 , h4, h5 {
    margin: 0px;
    font-weight: 300;
    color: hsl(233, 26%, 24%);
}

h1 {font-size: 3rem;}
h2 {font-size: 2.4rem;}
h3 {font-size: 1.5rem;
    margin: 2.25rem 0 2rem 0;
}
h4 {font-size: 1.3rem;}
h5 {font-size: 1rem;}
h5 a {
    text-decoration: none;
    color: hsl(233, 26%, 24%);
}
h6 {font-size: 1.1rem;
    line-height: 1.5rem;
    margin-top: 30px;
    font-weight: 300;
}

p {
    line-height: 25px;
    font-size: 16px;
    font-weight: 300;
}

a:hover {
    color: #30bd80;
}

.container {
    max-width: 1110px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: -10px;
    margin-left: -10px;
}

/********** 2. NAVBAR **********/
nav {
    background: hsl(0, 0%, 100%);
    padding: 20px 0;
    position: relative;
    z-index: 5;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    list-style-type: none;
}

.menu a {
     color: #A8A8A8;
     text-decoration: none;
     font-size: 14px;
 }

.mobileNav {
    display: none;
    height: 100%;
}

.mobileMenu {
    margin: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background: white;
    list-style-type: none;
    height: 13rem;
    padding: 1rem 0;
    text-align: center;
}

.mobileMenu .item a {
    text-decoration: none;
    color: hsl(233, 26%, 24%);
    font-size: 18px;
    font-weight: 300;
    padding: 0 8rem;
}
.mobileMenu .item:hover  {
    background-color: #F8F8F8;
}

.active {
    display: flex;
    justify-content: space-around;
    position: absolute;
    z-index: 2;
    width: 100%;
    background-color: rgb(45,49,77,0.3);
}


.item {
    padding: 10px 15px;
}

ul {
    margin: 0;
    padding: 0;
  }

.menu a:after {
    content: '';
    display: block;
    position: relative;
    background: hsl(0, 0%, 100%); 
    height: 4px;
    width: 100%;
    bottom: -30px;
  }

.menu a:hover:after {
    background: linear-gradient(82deg, rgba(49,211,92,1) 1%, rgba(43,183,218,1) 100%); 
  }

.cta {
    font-size: 15px;
    padding: 10px 37px;
    cursor: pointer;
    background: rgb(49,211,92);
    background: linear-gradient(90deg, rgba(49,211,92,1) 0%, rgba(43,183,218,1) 100%);
    border: none;
    border-radius: 22px;
    line-height: 21px;
    height: 45px;
}

.cta a {
    font-weight: 400;
    color: hsl(0, 0%, 98%);
    text-decoration: none;
}

.cta:hover {
    opacity: .6;
}

.toggle {
    display: none;
}

/********** 3. HERO **********/
.hero-section {
    background-color: hsl(0, 0%, 98%);
    min-height: 537px;
}

.hero-section .container .inner {
    max-width: 450px;
    padding: 7rem 0;
}

.hero-bg-mobile {
    display: none;
}

.hero-bg-desktop {
    display: block;
    position: absolute;
    z-index: 0;
    right: -13rem;
    max-height: 800px;
    top: -7.5rem;
}

.hero-img {
    width: 100%;
    max-width: 42rem;
    display: block;
    position: absolute;
    top: -1rem;
    right: 0;
    z-index: 1;
    margin: 0 auto -13rem;
}


/********** 4. BENEFITS **********/
.benefits-section {
    background-color: hsl(220, 16%, 96%);
    padding: 6rem 0 4.75rem 0;
}

.benefits-section .container .inner {
    max-width: 660px;
    margin-bottom: 4rem;
}

.benefits-section .container .item {
    padding: 10px 9px;
    width: 100%;
    flex-basis: 260px;
    flex-grow: 0.5;
    align-self: stretch;
}

/********** 5. ARTICLES **********/
.articles-section {
    background-color: hsl(0, 0%, 98%);
    padding: 6rem 0 4.75rem 0;
}

.articles-section .container .item {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    flex-basis: 250px;
    flex-grow: 0.7;
    flex-wrap: wrap;
}

.articles-section .container .item .img-holder {
    flex: 1 1 auto;
}
.articles-section .container img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.articles-section .container .item .article-text {
    padding: 20px;
    background-color: #fff;
}

.articles-section .container .item .article-text .author {
    font-size: 0.6rem;
    margin: 5px 0 12px 0;
}

.articles-section .container .item .article-text p {
    font-size: 13px;
    line-height: 16px;
    margin: 13px 0 8px 0;;
}

/********** 6. FOOTER **********/
footer {
    background-color: hsl(233, 26%, 24%);
    padding: 2.35rem 0;
}

footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

footer .container .last {
    flex-grow: 2;
    text-align: -webkit-right;
}

footer .social {
    margin-top: 3.2rem;
    display: flex;
    justify-content: space-between;
}

.footer-menu {
    list-style-type: none;
    padding-left: 6rem;
}

.footer-menu li {
    padding: 6px;
}

.footer-menu a {
     color: #F0F0F0;
     font-weight: 300;
     text-decoration: none;
     font-size: 14px;
 }

 .footer-menu a:hover {
    color: #30bd80;
}

.copyright {
    margin-top: 1.4rem;
    opacity: .6;
    font-size: 15px;
    color: #A9A9A9;
}

svg path:hover {
    fill: #2fc19c;
  }

/********** RESPONSIVE **********/
@media (max-width: 1200px) {
    .container{
        width: 960px;
      }
    .hero-bg-desktop {
        right: -18rem;
        max-height: 44rem;
    }
    .hero-img {
        max-width: 34rem;
        right: -5.5rem;
        top: 0rem;
    } 
    .hero-section {
        min-height: 445px;
    }
}

@media (max-width: 992px) {
    h1 {font-size: 2.5rem;}
    h2 {font-size: 2rem;}
    h3 {font-size: 1.2rem;}
    h4 {font-size: 1.3rem;}
    h6 {font-size: 1rem;}
    
    .container{
        width: 760px;
      }
    .cta-nav {
        display: none;
    }

    .menu {
        display: none;
    }
    
    .toggle {
        display: block;
    }
    .hero-bg-desktop {
        top: -12rem;
        right: -25rem;
        max-height: 46rem;
    }
    .hero-img {
        max-width: 26rem;
        top: -10rem;
        position: relative;
        right: 0;
    } 
    .hero-section .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero-section .container .inner {
        text-align: center;
    }
    .benefits-section {
        text-align: center;
    }
    .benefits-section .container .inner {
        margin-left: auto;
        margin-right: auto;
    }
    .articles-section .container h2 {
        text-align: center;
    }
    footer .container {
        text-align: center;
        flex-direction: column;
    }
    footer .container .item:nth-child(2) {
        padding: 1.5rem 0 0 0;
      }

    footer .container .item:nth-child(3) {
        padding: 0 0 1.5rem 0;
      }

    footer .social {
        margin-top: 1.8rem;
        width: 10rem;
    }
    
    .footer-menu  {
        padding: 0 0;
    }

    footer .container .last {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .container{
        width: 570px;
      }
}

@media (max-width: 600px) {
    .container{
      width: 430px;
    }
    .hero-bg-desktop {
        display: none;
    }
    .hero-bg-mobile {
        display: block;
        position: absolute;
        z-index: 0;
        right: 0rem;
        top: -7.5rem;
        width: 600px;
    }
  }

@media (max-width: 500px) {
    .container{
      width: 370px;
    }
    .hero-bg-mobile {
        right: 0rem;
        top: -3.5rem;
        width: 500px;
    }
  }

@media (max-width: 400px) {
    .container{
      width: 345px;
    }
    .hero-bg-mobile {
        width: 400px;
    }
  }