/* # Front-end Style Guide
## Layout

### The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary
- Dark Blue: hsl(233, 26%, 24%)
- Lime Green: hsl(136, 65%, 51%)
- Bright Cyan: hsl(192, 70%, 51%)

### Neutral
- Grayish Blue: hsl(233, 8%, 62%)
- Light Grayish Blue: hsl(220, 16%, 96%)
- Very Light Gray: hsl(0, 0%, 98%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size: 18px

### Font

- Family: [Public Sans](https://fonts.google.com/specimen/Public+Sans)
- Weights: 300, 400, 700
*/

/* CONTENTS */
/* 1. Global Styles */
/* 2. Navbar */
/* 3. Hero */
/* 4. Benefits */
/* 5. Articles */
/* 6. Footer */
/* Responsive */



/* Global Styles */
html {
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
}

body {
    margin: 0;
}

h1 {
    margin: 0px;
    font-size: 3rem;
    font-weight: 300;
    color: hsl(233, 26%, 24%);
}

h2 {
    margin: 0px;
    font-size: 2rem;
    font-weight: 300;
    color: hsl(233, 26%, 24%);
}

h6 {
    font-size: 1rem;
    font-weight: 300;
    color: #909090;
    line-height: 1.5rem;
    margin-top: 30px;
}

.container {
    max-width: 1110px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* 2. Navbar */
nav {
    background: hsl(0, 0%, 100%);
    padding: 20px 0;
    position: relative;
    z-index: 5;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style-type: none;
}
.menu a {
     color: #A8A8A8;
     text-decoration: none;
     font-size: 14px;
     
     
 }
.item {
    padding: 10px 15px;
}

ul {
    margin: 0;
    padding: 0;
  }

.cta {
    font-size: 15px;
    padding: 10px 37px;
    cursor: pointer;
    background: rgb(49,211,92);
    background: linear-gradient(90deg, rgba(49,211,92,1) 0%, rgba(43,183,218,1) 100%);
    border: none;
    border-radius: 22px;
    line-height: 21px;
    height: 45px;
}

.cta a {
    font-weight: 400;
    color: hsl(0, 0%, 98%);
    text-decoration: none;
}

/* 3. Hero */
.hero-section {
    background-color: hsl(0, 0%, 98%);
    min-height: 650px;
    background-image: url("images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 375% 75%;
}

.hero-section .container .inner {
    max-width: 460px;
    padding-top: 75px;
}

.hero-img {
    position: absolute;
    top: -7%;
    right: -56%;
    width: 100%;
    z-index: 0;
}
/* 4. Benefits */
.benefits-section {
    background-color: hsl(220, 16%, 96%);
}

/* 5. Articles */
.articles-section {
    background-color: hsl(0, 0%, 98%);
}
/* 6. Footer */
footer {
    background-color: hsl(233, 26%, 24%);
}
/* Responsive */

@media (min-width: 768px) {
    .container{
      width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container{
      width: 960px;
    }
    .menu {
        display: flex;
    }
   
  }
  
  @media (min-width: 1200px) {
    .container{
      width: 1170px;
    }
  }